[Unit]
Description=Load cloud-config from url defined in /proc/cmdline
Requires=coreos-setup-environment.service network-online.target
After=coreos-setup-environment.service network-online.target
Before=user-config.target
ConditionKernelCommandLine=cloud-config-url

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/environment
ExecStart=/usr/bin/coreos-cloudinit --from-proc-cmdline
