[Unit]
Description=Load user-provided cloud configs
Requires=system-config.target
After=system-config.target

# Load user_data placed by coreos-install
Requires=user-cloudinit@var-lib-coreos\x2dinstall-user_data.service
After=user-cloudinit@var-lib-coreos\x2dinstall-user_data.service
